//Colors
$grayOfBackground: rgba(237, 238, 239, 255);
$titleType1Color: rgb(89, 89, 89);
$titleType2Color: rgb(132, 132, 132);
$textColor: rgb(156, 164, 164);

@mixin titlesStyle($fontSize, $fontColor, $fontWeight) {
  color: $fontColor;
  font-size: $fontSize;
  font-weight: $fontWeight;
  margin-bottom: 8px;
}
