.header-container {
  grid-area: header;
  background-color: #edeeef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 13px;
}

.header-container .title-container {
  text-align: center;
  margin: auto;
}

.header-container #name-underline {
  height: 5px;
  width: 50%;
  margin-left: 22%;
  background-color: #848484;
}

.header-container .header-title-1 {
  color: #595959;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 8px;
}

.header-container .header-title-2 {
  color: #848484;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
}
/*# sourceMappingURL=Header.css.map */