@import "../Variables/Variables.scss";

.header-container {
  grid-area: header;
  background-color: $grayOfBackground;
  display: flex;
  padding-bottom: 13px;

  .title-container {
    text-align: center;
    margin: auto;
  }
  #name-underline {
    height: 5px;
    width: 50%;
    margin-left: 22%;
    background-color: $titleType2Color;
  }

  .header-title-1 {
    @include titlesStyle(60px, $titleType1Color, bold);
  }
  .header-title-2 {
    @include titlesStyle(25px, $titleType2Color, bold);
  }
}
