@import "../Variables/Variables.scss";

.home-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header"
    "leftsection rightsection";
  column-gap: 20px;
  row-gap: 20px;
}

#loading {
  display: flex;
  justify-content: center;
  font-size: 26px;
  margin-top: 20px;
}
