@import "../Variables/Variables.scss";

//parent container style
.left-section-container {
  grid-area: leftsection;
  background-color: $grayOfBackground;
  padding: 15px;
}

.sections-title {
  @include titlesStyle(20px, $titleType1Color, bold);
}

// Profil subsection style
#profil-text {
  padding-top: 8px;
  color: $textColor;
}

// Formation subsection style

.formation-element-container {
  display: flex;
  margin-bottom: 8px;
  color: $textColor;
}

.formation-element-left-item {
  font-size: 10px;
  margin-top: 4px;
  margin-right: 25px;
}

.formation-element-right-item {
  font-size: 14px;
  font-weight: 600;
}

.formation-element-right-item-school {
  font-size: 10px;
  font-style: italic;
}

//Contact subsection style

.fa {
  color: $titleType1Color;
  font-size: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
}

.contact-elements {
  color: $textColor;
  margin-left: 5px;
}

//Langages subsection styles

.langages-elements {
  color: $textColor;
}

//Social media subsections style

.social-media-elements {
  color: $textColor;
}
