.left-section-container {
  grid-area: leftsection;
  background-color: #edeeef;
  padding: 15px;
}

.sections-title {
  color: #595959;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

#profil-text {
  padding-top: 8px;
  color: #9ca4a4;
}

.formation-element-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  color: #9ca4a4;
}

.formation-element-left-item {
  font-size: 10px;
  margin-top: 4px;
  margin-right: 25px;
}

.formation-element-right-item {
  font-size: 14px;
  font-weight: 600;
}

.formation-element-right-item-school {
  font-size: 10px;
  font-style: italic;
}

.fa {
  color: #595959;
  font-size: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
}

.contact-elements {
  color: #9ca4a4;
  margin-left: 5px;
}

.langages-elements {
  color: #9ca4a4;
}

.social-media-elements {
  color: #9ca4a4;
}
/*# sourceMappingURL=LeftSectionContainer.css.map */