@import "../Variables/Variables.scss";

//parent container style
.right-section-container {
  grid-area: rightsection;
  padding: 15px;
  background-color: white;
  color: $textColor;
}

//experiences style

.experiences-element {
  display: flex;
  margin-bottom: 15px;
}
.right-sections-subsections-container {
  margin-top: 20px;
  margin-right: 50px;
}
.right-sections-subsections-date {
  font-size: 10px;
  font-weight: 600;
}
.left-section-right-subsection-first-title {
  color: $titleType1Color;
  font-size: 17px;
  font-weight: 600;
}

.left-section-right-subsection-second-title {
  color: $titleType1Color;
  font-size: 16px;
  font-style: italic;
}
.left-section-right-subsection-third-title {
  font-size: 16px;
  font-weight: 600;
}

.sections-title {
  @include titlesStyle(20px, $titleType1Color, bold);
}

//Project subsection style

.projects-element {
  display: flex;
  margin-bottom: 15px;
}

//Skills subsection style

#name-of-skill {
  color: $titleType1Color;
  font-weight: 600;
  display: inline-block;
  width: 150px;
}

.competences-element {
  font-size: 16px;

  font-weight: 600;
}
