.right-section-container {
  grid-area: rightsection;
  padding: 15px;
  background-color: white;
  color: #9ca4a4;
}

.experiences-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.right-sections-subsections-container {
  margin-top: 20px;
  margin-right: 50px;
}

.right-sections-subsections-date {
  font-size: 10px;
  font-weight: 600;
}

.left-section-right-subsection-first-title {
  color: #595959;
  font-size: 17px;
  font-weight: 600;
}

.left-section-right-subsection-second-title {
  color: #595959;
  font-size: 16px;
  font-style: italic;
}

.left-section-right-subsection-third-title {
  font-size: 16px;
  font-weight: 600;
}

.sections-title {
  color: #595959;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.projects-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

#name-of-skill {
  color: #595959;
  font-weight: 600;
  display: inline-block;
  width: 150px;
}

.competences-element {
  font-size: 16px;
  font-weight: 600;
}
/*# sourceMappingURL=RightSectionContainer.css.map */